.mat-card-listagem{
  background-color: #150f56;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-subtitle {
  font-size: 15px;
}

.mat-icon-button {
  margin-left: 150px;
  background: #e81212;
}
